@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000000;
    max-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

main {
    height: 58%;
    position: absolute;
    bottom: 8%;
    display: flex;
    flex-direction: column;
}

.first-row, .second-row,
.third-row, .fourth-row,
.fifth-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-right: 3rem;
}

.first-row{
    position: relative;
}

.display-screen {
    position: absolute;
    right: 0;
    color: white;
    font-size: 54px;
    margin-right: 0.5rem;
    font-weight: 500;
    margin-bottom: 9rem;
}

.sixth-row {
    display: flex;
    width: 100%;
    position: relative;
}

.last-two {
    width: 48%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.button1 {
    background-color: #a2a2a0;
    color: black;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: relative;
}

.button2 {
    background-color: #FF9500;
    color: white;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: relative;

}

.button3 {
    background-color: #505050;
    color: white;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: relative;

}


.button4 {
    background-color: #505050;
    color: white;
    height: 6rem;
    width: 13rem;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
}

.text {
    position: absolute;
    font-size: 48px;
    font-weight: 400;
    top: 22%;
    right: 40%;
}

.text2 {
    position: absolute;
    font-size: 48px;
    font-weight: 400;
    top: 23%;
    right: 18%;
}
.text3 {
    position: absolute;
    font-size: 54px;
    font-weight: 500;
    top: 19%;
    right: 27%;
}

.text4 {
    position: absolute;
    font-size: 48px;
    font-weight: 500;
    top: 22%;
    right: 70%;
}

.text5 {
    position: absolute;
    font-size: 48px;
    font-weight: 400;
    top: 20%;
    right: 39%;
}

.text6 {
    position: absolute;
    font-size: 48px;
    font-weight: 400;
    top: 23%;
    right: 38%;
}




/* Responsive Design */

@media screen and ( max-width: 390px){


    body {
        max-height: 60vh;
        height: 60vh;
    }

    main {
        bottom: 5%;
    }

    .button1, .button2, .button3 {
        width: 5rem;
        height: 5rem;
    }

    .button4 {
        height: 5rem;
        width: 11rem;
    }

    .first-row, .second-row, .third-row, .fourth-row, .fifth-row {
        margin-right: 2.4rem;
    }


    .text {
        top: 18%;
        right: 34%;
    }

    .text2 {
        top: 18%;
        right: 12%;
    }

    .text3 {
        top: 13%;
        right: 26%;
    }

    .text4 {
        top: 15%;
        right: 70%;
    }

    .text5 {
        top: 15%;
        right: 35%;
    }

    .text6 {
        top: 18%;
        right: 34%;
    }

    .display-screen {
        font-size: 48px;
    }
}
    
