
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    touch-action: manipulation;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

body {
    background-color: #000000;
    max-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

main {
    position: absolute;
    bottom: 8%;
    display: flex;
    flex-direction: column;
}

.first-row, .second-row,
.third-row, .fourth-row,
.fifth-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-right: 2.4rem;
}

.first-row{
    position: relative;
}

.display-screen {
    position: absolute;
    right: 0;
    color: rgba(255, 255, 255, 0.82);
    font-size: 52px;
    margin-right: 1rem;
    font-weight: 400;
    margin-bottom: 6rem;
}

.sixth-row {
    display: flex;
    width: 100%;
    position: relative;
}

.last-two {
    width: 48%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
}

button {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 36px;
    cursor: pointer;
    outline: none;
    border: none;
}

.sign {
    font-size: 28px;
}

.button1 {
    background-color: #a2a2a0;
    color: black;
}

.button2 {
    background-color: #FF9500;
    color: rgba(255, 255, 255, 0.8);
}

.button3 {
    background-color: #50505096;
    color: rgba(255, 255, 255, 0.8);
}


.button4 {
    background-color:  #50505096;
    color: rgba(255, 255, 255, 0.8);
    width: 11rem;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
}

.zero-txt {
    position: absolute;
    top: 19%;
    right: 70%;
}


/* Responsive Design */

@media screen and ( max-width: 390px){


    body {
        height: 86vh;
    }

    main {
        bottom: 2%;
    }
}
    


/* Filter Classes on click*/

/* For AC, +/-, Percentage  */
.buttonEffect1 {
    filter: brightness(1.3);
}

/* For 0-9 & . */
.buttonEffect2 {
    filter: brightness(2.5);
}

/* For Operators except equals sign*/
.buttonEffect3 {
    color: #FF9500;
    background-color: white;
}

/* For equal sign */
.buttonEffect4 {
    background-color: #c79851;
    filter: brightness(1.2);
}









.button1:hover {
    filter: brightness(1.3);
}

.divide:hover, .multiply:hover, .subtract:hover,
.add:hover {
    color: #FF9500;
    background-color: white;
}

.button3:hover, .button4:hover {
    filter: brightness(2.5);
}

.equal-sign:hover {
    background-color: #c79851;
    filter: brightness(1.2);
}